<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
		</head>
		<body>
			<nav>
			<ul>
  				<li><a href="/">Home</a></li>
  				<li><a href="/exp">Experiences</a></li>
  				<li><a href="/publications.html">Publications</a></li>
  				<li><a href="/proj">Projects</li>
  				<li><a href="/blog">Blog</a></li>
			</ulß>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<nav>
			<ul>
				<li><a href="mailto:hnwang@ucdavis.edu">email</a></li>
				<li><a href="https://ellenzinc.github.io">github</a></li>
			</ul>
			</nav>
			</footer>
		</body>
	</html>
	
